.nkr-header-company-information {
    color: rgb(164, 163, 163);
    font-size: 1.0rem;
    font-weight: bold;
//    background-color:white;
//     border: solid 1px;
    margin: auto;
    margin-bottom: 0.5%;
    margin-right: 0.5%;
}